:root {
    --primary-color: #28a745;
    /* Vibrant Green */
    --secondary-color: #ffffff;
    --background-color: #e1f7d5;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--background-color);
}

h2 {
    color: var(--primary-color);
    font-weight: bold;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

.carousel-caption {
    background-color: rgba(40, 167, 69, 0.7);
    border-radius: 10px;
    padding: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: var(--primary-color);
    border-radius: 50%;
}